@CHARSET "ISO-8859-1";

#menu1
{
    width: 25px;
    height: 20px;
    float:right;
    border: 3px dashed aqua;
    background-color: blue;
    margin-top:50px;
    margin-left:180px;
    margin-bottom:100px;
    
    
    
}

#menu2
{
   	width:230px;
   	height: 160px;
    float: right;
    border: 3px dashed aqua;
   	background-color:blue;
   	border-radius:10px;
   	margin-left:50px;
   	margin-top:30px;
   	
    
}

#menu2 > p 
{
	border:3px dashed aqua;
	margin-right:20px;
	margin-left:20px;
	width:160px;
	padding-left:35px;
	border-radius:5px;
	margin-top:30px;
	
	
}

p > a
{
	flex-align:baseline;
    font-family:serif;
    font-size: 14pt;
}




