@CHARSET "ISO-8859-1";

fieldset
{
    margin-top: 100px;
    margin-left: 50px;
    background-color:white;
    font-family: serif;
}

#fieldset1
{
    width: 500px;
    height: 250px;
    border: dashed blue;
    
}

#fieldset2
{
    width: 200px;
    height: 50px;
    border: dashed blue;
    margin-top: 30px;
    margin-left: 0px;
}

#login
{
    margin-bottom: 8px;
}

#linksenha:link
{
    color:white;
}

#linksenha:hover
{
    color: deeppink;
}