@CHARSET "ISO-8859-1";

fieldset
{
    width: 300px;
    height: 300px;
    margin-top: 100px;
    margin-left: 300px;
    font-family: serif;
    background-color:white;
    border:3px dashed blue;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 15px 15px 15px;
    
}