@CHARSET "ISO-8859-1";

#titulo_form
{
font-family: serif;
font-size:14pt;
background-color: white;
color:darkorchid;
border: 3px solid blue;
border-radius: 10px 10px 10px 10px;
float:top;
width: 200px;
height: 30px; 
padding:10px;
padding-left:35px;
margin-left: 342px;
margin-top: 50px;
}

fieldset
{
    width: 300px;
    height: 300px;
    margin-top: 50px;
    margin-left: 300px;
    font-family: serif;
    background-color:white;
    border:3px dashed blue;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 15px 15px 15px;
   
    
}