@CHARSET "ISO-8859-1";

#panel, #flip, #panel1, #flip1
{
    width: 300px;
    padding: 5px;
    margin-left: 530px;
    text-align: center;
    font-family:serif;
    color: white;
    font-size: 20px;
    background-color: deepskyblue;
    border: dashed 2px blue;
    
}
	
#panel, #panel1
{
    text-align: left;
}

#flip
{
    margin-top: 50px;
    border-radius: 10px 10px 0px 0px;
    
}

#flip1
{
    border-radius: 0px 0px 10px 10px;
}

#panel1
{
    border-radius: 10px 10px 10px 10px;
}

div
{
    color: white;
}

#link1:hover, #link2:hover, #link_aluno1:hover
{
    color: deeppink;
}

#aluno1
{
    width:450px;
    height: 400px;
    margin-top: 100px;
       
}

#aluno1 tr td
{
    padding: 3px;
}