@CHARSET "ISO-8859-1";

table
{
	width:200px;
	height:50px;
	border:3px dashed blue;
	background-color:deepskyblue;
        font-family:serif;
        font-size:x-large;
        color:white;
        border-radius: 10px 10px 10px 10px;
        margin-left: 500px;
        position:relative;
        
}

#relatorio
{
    width:600px;
    height:80px;
    border:3px dashed blue;
    background-color:deepskyblue;
    font-family:serif;
    font-size:15pt;
    color:white;
    border-radius: 10px 10px 10px 10px;
    margin-left: 372px;
    margin-top: 100px;
    position:relative;
    padding-left: 13px;
}

td
{
    padding: 15px 15px 15px 15px;
}


#linkc:link, #linkd:hover, #linke:hover       
{
    color: white;
}

#linkc:hover, #linkd:hover, #linke:hover
{
    color: deeppink;
}

body
{
    
background-image: linear-gradient(to right bottom, #FA0567 26%, #03E6FF 100%);
background-repeat: repeat-x;
background-attachment: fixed;
}




