@CHARSET "ISO-8859-1";

table
{
	width:600px;
	height:60px;
	border:3px dashed blue;
	background-color:deepskyblue;
        font-family:serif;
        font-size:x-large;
        color:white;
        border-radius: 10px 10px 10px 10px;
        margin-left: 400px;
        position:relative;
        
}

td
{
    padding: 10px 10px 10px 10px;
    padding-left: 20px;
}


#linka:link, #linkb:link, #linkc:link, #linkd:link       
{
    color: white;
}

#linka:hover, #linkb:hover, #linkc:hover, #linkd:hover
{
    color: deeppink;
}

body
{
    
background-image: linear-gradient(to right bottom, #FA0567 26%, #03E6FF 100%);
background-repeat: repeat-x;
background-attachment: fixed;
}
