@CHARSET "ISO-8859-1";

#rodape
{
    width:1330px;
    height:30px;
    border:3px dashed blue;
    background-color:deepskyblue;
    font-family:serif;
    font-size:x-large;
    color:white;
    border-radius: 10px 10px 10px 10px;
    position:relative;
    margin: 600px 50px 50px 0px;
}

img
{
    width: 300px;
    height: 100px;
    border: 2px solid black;
    
}
#ifpe
{
    margin-left: 650px;
    margin-right: 0px;
}