@CHARSET "ISO-8859-1";

.toggler {
    background: black;
    cursor: pointer;
    display: inline-block;
    border: 2px dashed blue;
    border-right-width: 20px;
    padding: 0px 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s ease;
   	
}

a.toggler.off {
    background: black;
    border-right-width: 2px;
    border-left-width: 20px;
}