<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	metadata-complete="false" id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>acesso.do</welcome-file>
	</welcome-file-list>

	

	<servlet>
		<servlet-name>EsqueceuSenhaForm</servlet-name>
		<jsp-file>/RequisitarSenha.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>EsqueceuSenhaForm</servlet-name>
		<url-pattern>/solicitaSenha.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CadastroAlunoForm</servlet-name>
		<jsp-file>/CadastroAluno.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastroAlunoForm</servlet-name>
		<url-pattern>/formCadastroAluno</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CadastroRelatorio</servlet-name>
		<jsp-file>/CadastroRelatorio.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastroRelatorio</servlet-name>
		<url-pattern>/formCadastroRelatorio</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaginaPrincipalRelatorios</servlet-name>
		<jsp-file>/Relatorios.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaginaPrincipalRelatorios</servlet-name>
		<url-pattern>/paginaPrincipalRelatorios</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CadastroMonitoriaForm</servlet-name>
		<jsp-file>/CadastroMonitoria.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>CadastroMonitoriaForm</servlet-name>
		<url-pattern>/formCadastroMonitoria</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/efetuarLogon.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PaginaPrincipalMonitor</servlet-name>
		<jsp-file>/Monitorias.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>PaginaPrincipalMonitor</servlet-name>
		<url-pattern>/principalMonitor.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletControleAcesso</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.acesso.ServletControleAcesso</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletControleAcesso</servlet-name>
		<url-pattern>/acesso.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletLogout</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletLogout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletEsqueceuSenha</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletEsqueceuSenha</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroAluno</display-name>
		<servlet-name>ServletCadastroAluno</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroAluno</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroMonitoria</display-name>
		<servlet-name>ServletCadastroMonitoria</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroMonitoria</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroRelatorio</display-name>
		<servlet-name>ServletCadastroRelatorio</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroRelatorio</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAluno</display-name>
		<servlet-name>ServletAluno</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletAluno</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ServletRelatorio</display-name>
		<servlet-name>ServletRelatorio</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletRelatorio</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ServletEnviaDocumento</display-name>
		<servlet-name>ServletEnviaDocumento</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.documento.ServletEnviaDocumento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletGerarDocumento</display-name>
		<servlet-name>ServletGerarDocumento</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.documento.ServletGerarDocumento</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRemoveMonitoria</display-name>
		<servlet-name>ServletRemoveMonitoria</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletRemoveMonitoria</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletLogout</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletEsqueceuSenha</servlet-name>
		<url-pattern>/requisitarSenha.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletCadastroAluno</servlet-name>
		<url-pattern>/cadastroAluno.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCadastroMonitoria</servlet-name>
		<url-pattern>/cadastroMonitoria.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCadastroRelatorio</servlet-name>
		<url-pattern>/cadastroRelatorio.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAluno</servlet-name>
		<url-pattern>/aluno.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletEnviaDocumento</servlet-name>
		<url-pattern>/enviarDocumento.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletGerarDocumento</servlet-name>
		<url-pattern>/gerarDocumento.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRemoveMonitoria</servlet-name>
		<url-pattern>/removeMonitoria.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletRelatorio
		</servlet-name>
		<url-pattern>/relatorio.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginForm</servlet-name>
		<jsp-file>/Login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginForm</servlet-name>
		<url-pattern>/login.do</url-pattern>
	</servlet-mapping>
</web-app>
