<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation='http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"  '
	metadata-complete="false" id="WebApp_ID" version="3.1">
	<welcome-file-list>
		<welcome-file>acesso.do</welcome-file>
	</welcome-file-list>
	<context-param>
		<param-name>title</param-name>
		<param-value>Monitoria IFPE-TADS</param-value>
	</context-param>
	<error-page>
		<error-code>404</error-code>
		<location>/Error404.html</location>
	</error-page>
	
	<listener>
		<listener-class>br.com.projetoperiodo.listener.PersistenceListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>ServletLogin</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletLogin
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletLogin</servlet-name>
		<url-pattern>/efetuarLogon.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ServletControleAcesso</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.acesso.ServletControleAcesso
		</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServletControleAcesso</servlet-name>
		<url-pattern>/acesso.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServletLogout</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletLogout
		</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ServletEsqueceuSenha</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletEsqueceuSenha
		</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroAluno</display-name>
		<servlet-name>ServletCadastroAluno</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroAluno
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroMonitoria</display-name>
		<servlet-name>ServletCadastroMonitoria</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroMonitoria
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroRelatorio</display-name>
		<servlet-name>ServletCadastroRelatorio</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroRelatorio
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAluno</display-name>
		<servlet-name>ServletAluno</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletAluno
		</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ServletRelatorio</display-name>
		<servlet-name>ServletRelatorio</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletRelatorio
		</servlet-class>
	</servlet>

	<servlet>
		<description>
		</description>
		<display-name>ServletEnviaDocumento</display-name>
		<servlet-name>ServletEnviaDocumento</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.documento.ServletEnviaDocumento
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletGerarDocumento</display-name>
		<servlet-name>ServletGerarDocumento</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.documento.ServletGerarDocumento
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRemoveMonitoria</display-name>
		<servlet-name>ServletRemoveMonitoria</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletRemoveMonitoria
		</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServletLogout</servlet-name>
		<url-pattern>/logout.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletEsqueceuSenha</servlet-name>
		<url-pattern>/requisitarSenha.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletCadastroAluno</servlet-name>
		<url-pattern>/cadastroAluno.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCadastroMonitoria</servlet-name>
		<url-pattern>/cadastroMonitoria.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCadastroRelatorio</servlet-name>
		<url-pattern>/cadastroRelatorio.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAluno</servlet-name>
		<url-pattern>/aluno.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletEnviaDocumento</servlet-name>
		<url-pattern>/enviarDocumento.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletGerarDocumento</servlet-name>
		<url-pattern>/gerarDocumento.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRemoveMonitoria</servlet-name>
		<url-pattern>/removeMonitoria.do</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ServletRelatorio</servlet-name>
		<url-pattern>/relatorio.do</url-pattern>
	</servlet-mapping>

	<servlet>
		<description>
		</description>
		<display-name>ServletAlteraFabrica</display-name>
		<servlet-name>ServletAlteraFabrica</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.ServletAlteraFabrica
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAlterarSenha</display-name>
		<servlet-name>ServletAlterarSenha</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletAlterarSenha
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletCadastroProfessor</display-name>
		<servlet-name>ServletCadastroProfessor</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.cadastro.ServletCadastroProfessor
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletProfessor</display-name>
		<servlet-name>ServletProfessor</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletProfessor
		</servlet-class>
	</servlet>
	<servlet>
		<display-name>ServletAlterarSenha</display-name>
		<servlet-name>ServletAlterarSenha</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.login.ServletAlterarSenha
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletDisciplina</display-name>
		<servlet-name>ServletDisciplina</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletDisciplina
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletRelatorioProfessor</display-name>
		<servlet-name>ServletRelatorioProfessor</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.apresentacao.ServletRelatorioProfessor
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ServletAprovaRelatorio</display-name>
		<servlet-name>ServletAprovaRelatorio</servlet-name>
		<servlet-class>br.com.projetoperiodo.servlets.documento.ServletAprovaRelatorio
		</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ServletAlteraFabrica</servlet-name>
		<url-pattern>/alterarEstrategiaPersistencia</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletProfessor</servlet-name>
		<url-pattern>/professor.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAlterarSenha</servlet-name>
		<url-pattern>/alterarSenha.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletCadastroProfessor</servlet-name>
		<url-pattern>/cadastroProfessor.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletDisciplina</servlet-name>
		<url-pattern>/disciplina.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletRelatorioProfessor</servlet-name>
		<url-pattern>/relatorioProfessor.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ServletAprovaRelatorio</servlet-name>
		<url-pattern>/aprovarRelatorio.do</url-pattern>
	</servlet-mapping>

</web-app>
